.timer {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.value {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin: auto;
}

.label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  margin: auto;
}

.button {
  margin-top: 8px;
  align-self: flex-start;
  padding: 8px 16px;
  background: #4e75ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.button:hover,
.button:focus {
  background-color: #6c8cff;
}

button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  opacity: 0.6;
  border: 1px solid #999;
}

button:disabled:hover {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.flatpickr-calendar {
  background: #fff !important;
  border-radius: 12px !important;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1) !important;
}

.flatpickr-day {
  color: #333 !important;
}

.flatpickr-day.selected {
  background: #4e75ff !important;
  border-color: #4e75ff !important;
}

.flatpickr-prev-month:hover svg,
.flatpickr-next-month:hover svg {
  fill: #4e75ff !important;
}

.flatpickr-input {
  background-color: white;
  border: 1px solid #999;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;

  width: 272px;
  height: 40px;
  box-sizing: border-box;
}

.flatpickr-input:focus {
  outline: none;
  border-color: #666;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05);
}
